*.iml
.gradle
/local.properties
 M .idea/compiler.xml
 M .idea/gradle.xml
 M .idea/misc.xml
gradle/
.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/release/
